.space {
    margin: 16.5px;
}

.left, .right {
    float: left;
}

.left {
    width: 20px;
    height: 20px;
}

.right {
    margin-top: -4px;
}

.vote {
    color: rgb(149, 149, 149);
    margin: 3px;
    cursor: pointer;
}

.title {
    margin: 2px;
    color: rgb(195, 195, 195);
    font-size: 17px;
}

.content {
    margin: 2px;
    color: rgb(149, 149, 149);
    display: inline-block;
}